* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 2%;
    justify-content: center;
    overflow: hidden;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: purple;
    display: none;
    padding: 2px 2px;
    height: 100%;
}

/*Class A*/
.A_box-wrapper {
    height: 45vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#A_box2 {
    padding: 8px;
    width: 70%;
    border: solid 1px blue
}

#A_box3 {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    border: solid 1px green
}
.A_left-column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.A_left-column div {
    flex-grow: 1;
    margin: 0 8px;
    border: solid 1px red;
}

.A_left-column div+div {
    margin-top: 8px
}

#A_Aisleway1 {
    flex-grow: 1;
    border: solid 1px orange
}

.A_middle-column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.A_middle-column div {
    flex-grow: 1;
    margin: 0 8px;
    border: solid 1px red;
}

.A_middle-column div+div {
    margin-top: 8px
}
/*--------*/
.A_right-half {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.A_grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* creates two columns, can also use 50% 50%, repeat(2, 1fr) or repeat(2, 50%), fr stands for fractions */
}

.A_grid > div {
    padding: 20px;
    border: 1px solid;
}

.A_rectangle {
    grid-row: 1/3; /* spans two rows */
}

/*--------*/
.A_right-half div {
    flex-grow: 1;
    margin: 0 8px;
    border: solid 1px cornflowerblue;
}

.A_right-half div+div {
    margin-top: 8px
}


/*------------------------------------Class B----------------------*/
.B_box-wrapper {
    height: 45vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#B_box2 {
    padding: 8px;
    width: 70%;
    border: solid 1px blue
}

#B_box3 {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    border: solid 1px green
}
.B_left-column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.B_left-column div {
    flex-grow: 1;
    margin: 0 8px;
    border: solid 1px red;
}

.B_left-column div+div {
    margin-top: 8px
}

#B_Aisleway1 {
    flex-grow: 1;
    border: solid 1px orange
}

.B_middle-column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.B_middle-column div {
    flex-grow: 1;
    margin: 0 8px;
    border: solid 1px red;
}

.B_middle-column div+div {
    margin-top: 8px
}
/*--------*/
.B_right-half {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.B_grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* creates two columns, can also use 50% 50%, repeat(2, 1fr) or repeat(2, 50%), fr stands for fractions */
}

.B_grid > div {
    padding: 20px;
    border: 1px solid;
}

.B_rectangle {
    grid-row: 1/3; /* spans two rows */
}

/*--------*/
.B_right-half div {
    flex-grow: 1;
    margin: 0 8px;
    border: solid 1px cornflowerblue;
}

.B_right-half div+div {
    margin-top: 8px
}
/*------------------------------------Class C----------------------*/

.C_box-wrapper {
    height: 45vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#C_box2 {
    padding: 8px;
    width: 70%;
    border: solid 1px blue
}

#C_box3 {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    border: solid 1px green
}
.C_left-column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.C_left-column div {
    flex-grow: 1;
    margin: 0 8px;
    border: solid 1px red;
}

.C_left-column div+div {
    margin-top: 8px
}

#C_Aisleway1 {
    flex-grow: 1;
    border: solid 1px orange
}

.C_middle-column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.C_middle-column div {
    flex-grow: 1;
    margin: 0 8px;
    border: solid 1px red;
}

.C_middle-column div+div {
    margin-top: 8px
}
/*--------*/
.C_right-half {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.C_grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* creates two columns, can also use 50% 50%, repeat(2, 1fr) or repeat(2, 50%), fr stands for fractions */
}

.C_grid > div {
    padding: 20px;
    border: 1px solid;
}

.C_rectangle {
    grid-row: 1/3; /* spans two rows */
}

/*--------*/
.C_right-half div {
    flex-grow: 1;
    margin: 0 8px;
    border: solid 1px cornflowerblue;
}

.C_right-half div+div {
    margin-top: 8px
}
